*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
$color-header: hsl(210, 50%, 50%);
$color-menu: hsla(0, 0%, 20%, .5);
$color-primary: hsl(210, 50%, 50%);
$color-success: hsl(120, 50%, 30%);
$color-danger: hsl(0, 50%, 50%);
$color-warning: hsl(50, 50%, 50%);
$color-modal: hsla(0, 0%, 20%, .5);
$height-header: 3rem;
$height-modal-login: calc(100% - 3rem);
$width-menu: 25%;
body{
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    color: hsl(0, 0%, 20%);
    background: hsl(0, 0%, 95%);
    margin-top: $height-header;

    &::-webkit-scrollbar{
        width: .5rem;
    }
    &::-webkit-scrollbar-thumb{
        background: hsl(0, 0%, 80%);
        border-radius: .25rem;
        &:hover{
            background: hsl(0, 0%, 70%);
        }
    }
    &::-webkit-scrollbar-track{
        background: hsl(0, 0%, 100%);
    }
    @include mq(1024px){
        margin-left: $width-menu;
        width: 100% - $width-menu;
    }
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
button:disabled{
    color: red;
}
.btn{
    padding: .5rem .75rem;
    color: hsl(0, 0%, 95%);
    border: none;
    outline: none;
    border-radius: .25rem;
    width: 100%;
    cursor: pointer;
}
.btn-primary{
    background: $color-primary;
}
.btn-success{
    background: $color-success;
}
.btn-add-car{
    padding: .5rem .75rem;
    color: $color-success;
    border: 1px solid $color-success;
    outline: none;
    border-radius: .25rem;
    width: 100%;
    &:hover{
        cursor: pointer;
        background: $color-success;
        color:  hsl(0, 0%, 95%);
    }
}
input{
    border: none;
    outline: none;
    padding: .5rem;
    border-radius: .25rem;
}
.form{
    margin-bottom: 1rem;
}
.form-item{
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;
}
.message-error{
    // background: hsl(0, 50%, 90%);
    color:  hsl(0, 50%, 40%);
    // padding: .5rem;
    // border-radius: .25rem;
    // margin-bottom: 1rem;
    font-size: .9rem;
    // text-align: center;
}
.container-alert{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
.alert-error{
    background: hsl(0, 50%, 90%);
    color:  hsl(0, 50%, 40%);
    padding: .5rem 1rem;
    border-radius: .25rem;
    font-size: .9rem;
    text-align: center;
}
.input-error{
    border: 1px solid hsl(0, 50%, 80%);
}


.container-main{
    padding: 1rem;
}
.container-card{
    // display: flex;
    // flex-wrap: wrap;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .25rem;
    @include mq(1024px){
        grid-template-columns: repeat(4, 1fr);
    }
}
.card{
    // width: 50%;
    border-radius: .5rem;
    border: 1px solid hsl(0, 0%, 90%);
    overflow: hidden;
    &:hover{
        box-shadow: 0 0 7px  hsl(0, 0%, 80%);
    }

}
.card-header img{
    width: 100%;
}
.card-body, .card-footer{
    padding: .25rem;
}
.money{
    &::before{
        content: 'S/ ';
    }
}



.loader{
    display: none;
}
