.container-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $height-header;
    background: $color-header;
    a{
        color: hsl(0, 0%, 95%);
    }

}
.header-search{
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: $height-header;
    background: hsl(0, 0%, 100%);
    display: flex;
    padding: 0 1rem;
    .icon-close-search{
        display: flex;
        margin-right: .5rem;
        cursor: pointer;
        svg{
            width: 1rem;
            height: 1rem;
            margin: auto;
        }
    }
    input{
        width: 100%;
        border: 1px solid hsl(0, 0%, 90%);
        background: transparent;
        margin: auto;
    }
}
.open-search{
    right: 0;
    transition: right .2s;
}
.header{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    margin: 0 1rem;
    .logo{
        display: flex;
    }
}
.login-toggle-search{
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    align-items: center;
    .login, .toggle, .icon-search{
        display: flex;
    }
    .icon-search{
        cursor: pointer;
    }
    .login, .icon-search{
        margin-right: .5rem;
    }
    .login{
        cursor: pointer;
    }
    .toggle{
        cursor: pointer;
        @include mq(1024px){
            display: none;
        }
    }

}
