* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  color: #333333;
  background: #f2f2f2;
  margin-top: 3rem;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-thumb {
  background: #cccccc;
  border-radius: 0.25rem;
}

body::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
}

body::-webkit-scrollbar-track {
  background: white;
}

@media screen and (min-width: 1024px) {
  body {
    margin-left: 25%;
    width: 75%;
  }
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.btn {
  padding: 0.5rem 0.75rem;
  color: #f2f2f2;
  border: none;
  outline: none;
  border-radius: 0.25rem;
  width: 100%;
}

.btn-primary {
  background: #4080bf;
}

input {
  border: none;
  outline: none;
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.form {
  margin-bottom: 1rem;
}

.form-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.message-error {
  color: #993333;
  font-size: 0.9rem;
}

.container-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  background: #4080bf;
}

.container-header a {
  color: #f2f2f2;
}

.header-search {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 3rem;
  background: white;
  display: flex;
  padding: 0 1rem;
}

.header-search .icon-close-search {
  display: flex;
  margin-right: 0.5rem;
  cursor: pointer;
}

.header-search .icon-close-search svg {
  width: 1rem;
  height: 1rem;
  margin: auto;
}

.header-search input {
  width: 100%;
  border: 1px solid #e6e6e6;
  background: transparent;
  margin: auto;
}

.open-search {
  right: 0;
  transition: right 0.2s;
}

.header {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  margin: 0 1rem;
}

.header .logo {
  display: flex;
}

.login-toggle-search {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  align-items: center;
}

.login-toggle-search .login,
.login-toggle-search .toggle,
.login-toggle-search .icon-search {
  display: flex;
}

.login-toggle-search .icon-search {
  cursor: pointer;
}

.login-toggle-search .login,
.login-toggle-search .icon-search {
  margin-right: 0.5rem;
}

.login-toggle-search .login {
  cursor: pointer;
}

.login-toggle-search .toggle {
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  .login-toggle-search .toggle {
    display: none;
  }
}

.container-menu {
  position: fixed;
  top: 3rem;
  right: -100%;
  width: 100%;
  height: calc(100% - 3rem);
  background: rgba(51, 51, 51, 0.5);
  display: flex;
  justify-content: flex-end;
  transition: right 0.2s;
}

@media screen and (min-width: 1024px) {
  .container-menu {
    width: 25%;
    left: 0;
  }
}

.open-menu {
  right: 0;
  transition: right 0.2s;
}

.content-menu {
  background: white;
  width: 80%;
  height: 100%;
  display: grid;
  grid-template-rows: -webkit-max-content 1fr -webkit-max-content;
  grid-template-rows: max-content 1fr max-content;
}

@media screen and (min-width: 1024px) {
  .content-menu {
    width: 100%;
  }
}

.container-menu a {
  color: #333333;
}

.menu-header {
  background: #4d2673;
  padding: 1rem;
}

.menu-header p {
  color: #f2f2f2;
}

.menu-header .user-name {
  font-weight: bold;
}

.menu-header .user-avatar {
  border-radius: 50%;
  width: 4rem;
}

.menu-body {
  overflow-y: scroll;
}

.menu-body::-webkit-scrollbar {
  width: 0.5rem;
}

.menu-body::-webkit-scrollbar-thumb {
  background: #cccccc;
  border-radius: 0.25rem;
}

.menu-body::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
}

.menu-body::-webkit-scrollbar-track {
  background: white;
}

.menu-body .content-menu-body {
  height: 100%;
}

.menu-body .menu-item-link {
  display: block;
  padding: 0.5rem;
}

.menu-body .open-submenu {
  display: block;
}

.menu-item-deploy {
  display: grid;
  grid-template-columns: 1fr -webkit-max-content;
  grid-template-columns: 1fr max-content;
  padding: 0.5rem;
  font-weight: bold;
}

.menu-item-deploy .icon-up,
.menu-item-deploy .icon-down {
  display: flex;
  align-items: center;
}

.menu-item-deploy .icon-hide {
  display: none;
}

.menu-item-deploy svg {
  width: 1rem;
  height: 1rem;
}

.submenu {
  display: none;
  background: #e6e6e6;
}

.submenu .submenu {
  background: #f2f2f2;
}

.submenu .submenu .menu-item {
  border-bottom: 1px solid #e6e6e6;
}

.menu-footer {
  padding: 1rem;
}

.container-register,
.container-login,
.container-recuperation {
  padding: 1rem;
  height: 100%;
}

@media screen and (min-width: 1024px) {
  .container-register,
  .container-login,
  .container-recuperation {
    display: flex;
  }
}

.content-register .register-title,
.content-register .login-title,
.content-register .recuperation-title,
.content-login .register-title,
.content-login .login-title,
.content-login .recuperation-title,
.content-recuperation .register-title,
.content-recuperation .login-title,
.content-recuperation .recuperation-title,
.content-modal-login .register-title,
.content-modal-login .login-title,
.content-modal-login .recuperation-title {
  font-size: 1.2rem;
  text-align: center;
}

.content-register a,
.content-login a,
.content-recuperation a,
.content-modal-login a {
  color: #4080bf;
}

.content-register li,
.content-login li,
.content-recuperation li,
.content-modal-login li {
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .content-register,
  .content-login,
  .content-recuperation,
  .content-modal-login {
    width: 50%;
    margin: 0 auto;
  }
}

.container-modal-login {
  background: rgba(51, 51, 51, 0.5);
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: calc(100% - 3rem);
  padding: 1rem;
}

.open-modal-login {
  top: 3rem;
  transition: top 0.2s;
}

.content-modal-login {
  background: #f2f2f2;
  padding: 0.5rem;
  border-radius: 0.25rem;
}

@media screen and (min-width: 1024px) {
  .content-modal-login {
    width: 40%;
  }
}

